body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.screen-container {
  height: 600px;
  padding: 5px;
  max-width: 350px;
  margin: auto;
  border: 3px solid brown;
}

.top-bar {
  height: 60px;
  position: relative;
  background-color: rgb(99, 100, 104);
  z-index: 1;
}

.chat-container {
  height: calc(100% - 120px);
  overflow-x: hidden;
  background-color: rgb(208, 247, 208);
  background: url("https://pm1.narvii.com/6426/aee403014aab1bc1ddab03fa89bf141f9878a2b9_hq.jpg");
  z-index: 0;
}

.bottom-bar {
  position: relative;
  height: 60px;
  background-color: rgb(99, 100, 104);
  overflow: hidden;
  z-index: 10;
}

.txt-msg {
  width: 250px;
  height: 30px;
  margin: 12px;
  flex: 1 1 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  z-index: 10;
}

.send {
  background-color: green;
  width: 50px;
  height: 35px;
}

.chat-group {
  margin: auto;
}
.group-text {
  color: white;
  width: 200px;
  height: 25px;
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  flex: 1 1 auto;
}
.typing-text {
  display: inline-block;
  color: white;
  padding-left: 12px;
  padding-top: 10px;
  font-size: 16px;
}
.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  margin: 5px 25px;
}

.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}
